<div class = "title">

    <div class="display">

        <!-- input된 data는 [] 를 통하여 받아올 수 있다.  -->
        <app-time-display [inputData]="present"></app-time-display>
        <!-- <app-time-display></app-time-display>
        <app-time-display></app-time-display>
        <app-time-display></app-time-display> -->



        <!-- emit 함수가 실행이되면 clickEventSection으로 이름 붙인 이벤트가 실행됨  -->
        <!-- $event는 emit해서 들어오는 데이터를 받아주는 Angular의 키워드다.  -->
        <!-- <app-buttons (clickEventSection) = "startTime($event)"></app-buttons> -->




        <!-- <hr> -->


        <!-- {{commandText}} -->
        <!-- <app-buttons (clickEventSection) = "commandText = $event"></app-buttons> -->
        
    </div>
    <!-- router끼리 페이지이동을 할경우에는 routerLink르 사용해야한다.  
        / 이 없다면 기존의 경로에서 붙어서 들어간다. 
        /clock : localhost:4200/clock
        clock : localhost:4200/stopwatch/clock
    -->
    <!-- <a [routerLink] ="'/clock'"> 시계로 이동</a>  -->
    <div class ="display">
        <button (click) = "goClock()">
    
            시계로 이동
        </button>

        <button (click) = "pageToggleService.plusCount()">
    
            숫자 확인 테스트
        </button>

        {{pageToggleService.routingCount}}

    </div>

</div>