<div>
    <div class= "time-text display">

        <span>
            {{min}} : {{sec}} . {{ms}}
        </span>
       
    </div>
</div>

<!-- 
    컴포넌트의 효율성
    데이터 바인딩을 잘해야함. 
    컴포넌트의 효율성을 극대화해야한다. 
    컴포넌트는 재사용에 대해 고민하여 만들어야한다. 
 -->

<button class="start-btn" (click) = "timesStart()"> 
start
</button>

<button class ="stop-btn" (click) = "timeStop()">
stop
</button>

<button class = "reset-btn" (click) = "timeReset()">
reset
</button>

<!-- {{pageToggleService.routingCount}} -->


<!-- 
    원래는 부모 html에서는 자식 태그 안에 무얼 넣어도 반응이 없다.
    하지만, <ng-content> 태그를 사용하면, 부모 html 안에 있는
    자식 테그안에 기술된 내용들을 나타나게 할 수 있다.
    이를 transclude라고한다. 
    이 기법이 필요한 경우가 있다. 
 -->
<ng-content></ng-content>